.login-page .panel-heading{
    background: #74b9ff;
}
.login-page .panel-title{
    padding:10px 0px;
    text-align: center;
    color:#fff;
}

.login-page .btn-success{margin-bottom: 30px;background: #74b9ff;border:none}

p.error {
    color:#f39c12;
    font-size: 13px;
    padding:10px 0px;
    font-style:italic;
}
p.success{
    color:#e74c3c;
    font-size: 13px;
    padding:10px 0px;
    font-style:italic;
}
.panel {border:none}

.btn-delete{display: inline-block;border:none;background: none;color:#3498db;}
.fl-left{float:left}

.lbl-img{
    padding: 10px 0px 5px 0px;
    color:#aaa69d;
}
form input[type='file']{padding-bottom: 10px;}
.btn-primary{
    display: block;
    margin:20px 0px;
}
form #img-current{display:block;width:150px;height: auto;overflow: hidden;}

form #img-detail-current{display:block;width:200px;height: 200px;overflow: hidden;padding-bottom: 20px;}
form .icon_del{
    position: relative;
    top: -210px;
    left: 175px;
    background: #55efc4;
    border:none;
}


#page-wrapper{
    border-left: none;
    padding:0px 100px;

}
.form-control{
    width:60%;
}
.page-header small{
    padding-left:10px;
}

/*Login*/
#components-form-demo-normal-login .login-form {
    max-width: 300px;
}
#components-form-demo-normal-login .login-form-forgot {
    float: right;
}
#components-form-demo-normal-login .login-form-button {
    width: 100%;
}
.ant-form-item-children span.padd{
    margin-left: 20px;
    margin-right: 20px;
}
input.ant-input {
    /*width:35%;*/
}
#login-page{
    /*background:#dfe6e9;*/
    background: rgb(128,128,128);
    background: linear-gradient(90deg, rgba(128,128,128,1) 0%, rgba(230,230,230,1) 100%);
    width:100vw;
    height: 100vh;
}

.panel-default>.panel-heading{
    background: rgb(128,128,128);
    background: linear-gradient(90deg, rgba(128,128,128,1) 0%, rgba(230,230,230,1) 100%);

    border-color: rgba(128,128,128,0.1);
    text-align: center;
    text-transform: uppercase;
    font-family: 'Roboto Condensed';
    padding:20px 0px;
    color:#0984e3;
    font-weight: bold;

}
.panel , .panel-default{
    border-color: #fff!important;
}
.wp-inner.login{
    padding:100px 0px;
    width:35%;
    margin:0px auto;
}
.login-form-button{
    width:30%;
}

a.register:hover , a.login-form-forgot:hover{
    text-decoration: underline;
    color: #e67e22;
    transition: color 0.2s linear;
}
